@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 5, 37, 96; /* Light text color */
  --background-start-rgb: 255, 255, 255; /* White background start color */
  --background-end-rgb: 255, 255, 255; /* White background end color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 5, 37, 96; /* Dark text color to maintain contrast on white background */
    --background-start-rgb: 255, 255, 255; /* White background for dark mode */
    --background-end-rgb: 255, 255, 255; /* White background end color for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
